@charset "UTF-8";
.slide {
  /* width: 300px; */
  cursor: pointer;
  height: 200px;
  background-color: #2581dc;
}

.owl-carousel p {
  position: absolute;
  bottom: 0;
  padding: 15px;
  font-size: larger;
  color: #FFFFFF;
background: #2581dc;

}
.navigation {
  height: 70px;
  background: #ffffff;
}
h2 {
  font-weight: 700;
}
.block2 {
  margin-top: 50px;
  /* height: fit-content; */
  width: 100%;
  background-color: rgba(54, 54, 54, 0.098);
  padding: 10px;
}
.block2container {
  width: 1200px;
  /* height: 200px; */
  /*   background-color: thistle; */
  margin: 80px auto;
  /*  padding: 30px; */
}

.block2Header {
  font-size: 30px;
  text-align: center;
  margin: 30px auto;
}
.block2steps {
  text-align: center;
}
hr {
  margin: 10px auto;
}
.step {
  text-align: left;
  /*  height: 220px; */
  width: 333px;
  height: 100px;
  /*  background-color: tomato; */

  display: inline-block;
  margin: 30px;
}
.step h2 {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -1px;
}
.step p {
  font-size: 15px;
  line-height: 120%;
}
.icon {
  /*   width: 1em; */
  display: inline;
  /* margin-right: 40px; */
  vertical-align: bottom;
}
li {
  text-transform: uppercase;
}
.logo {
  vertical-align: middle;
}
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  padding-top: 7.5px;
  line-height: 65px;
  text-transform: uppercase;
  font-size: 1.4em;
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 600;
}
.brand a,
.brand a:visited {
  color: #000000;
  text-decoration: none;
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 600;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #ffffff;
  color: #000000;
  text-decoration: none;
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 600;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #2581dc;
  color: #ffffff;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 212px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #ffffff;
  height: 70px;
  width: 70px;
  margin: 8px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 0px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #000000;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.3s ease-in-out; /* добавим плавность переходов для всех элементов страницы*/
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
}
img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
  font-family: "Hind Siliguri", sans-serif;
  font-weight: normal;
  letter-spacing: 0px;
}
body {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #373737;
  background: #f7f7f7;
}
/* добавим очистку потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */
header:after,
.container:after,
footer:after,
.widget-leftee li:after,
#subscribe:after {
  content: "";
  display: table;
  clear: both;
}
/* стилевой класс, который управляет шириной контейнера сетки*/
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
}

.container2 {
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  text-align: justify;
}

header {
  width: 100%;
  background: white;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.05);
  padding: 0 0;
  margin-bottom: 30px;
  position: relative;
}
/* логотип */
.logo {
  display: block;
  float: left;
}
.logo span {
  color: white;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin: 5px 0;
  text-align: center;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}
.logo span:nth-child(odd) {
  background: #ef5a42;
}
.logo span:nth-child(even) {
  background: #f8b763;
}
/* меню */
#menu {
  float: right;
}
#menu li {
  display: inline-block;
  margin-right: 30px;
}
#menu a {
  font-size: 15px;
  color: #111;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  display: block;
  line-height: 50px;
}
#menu a:hover {
  color: #4d74ba;
}
#menu li:last-child {
  margin-right: 0;
}

/* кнопка переключения меню, появляющаяся при ширине 768px */
.nav-toggle {
  display: none;
  position: relative;
  float: right;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  background: #4d74ba;
  cursor: pointer;
}
.nav-toggle span {
  display: block;
  position: absolute;
  top: 19px;
  left: 8px;
  right: 8px;
  height: 2px;
  background: white;
}
.nav-toggle span:before,
.nav-toggle span:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
}
.nav-toggle span:before {
  top: -10px;
}
.nav-toggle span:after {
  bottom: -10px;
}
/* класс, который будет добавлен в верхнему меню при нажатии на кнопку и покажет скрытое меню*/
#menu.active {
  max-height: 600px;
}

/* левый контейнер */
.leftee {
  width: 64%;
  float: left;
}
/* блок для статьи */
.post {
  margin-bottom: 35px;
}
.post-content p {
  line-height: 1.5;
  padding-bottom: 1em;
}
.post-image {
  margin-bottom: 30px;
}
.category {
  margin-bottom: 15px;
}
.category a {
  color: #f8b763;
  text-transform: uppercase;
}
.post-title {
  margin-bottom: 12px;
  font-size: 26px;
}
/* блок с кнопкой "продолжить чтение" и кнопками социальных сетей */
.post-footer {
  border-top: 1px solid #ebebe3;
  border-bottom: 1px solid #ebebe3;
  position: relative;
  margin-top: 15px;
}
.more-link {
  position: relative;
  display: inline-block;
  font-size: 10px;
  text-transform: uppercase;
  color: white;
  line-height: 44px;
  padding: 0 22px;
  background: #3c3d41;
  letter-spacing: 0.1em;
  white-space: nowrap;
}
.more-link:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  border: solid transparent;
  border-width: 22px 18px;
  border-left-color: #3c3d41;
  transform: translateX(100%);
}
.post-social {
  position: absolute;
  left: auto;
  top: 50%;
  right: 0;
  text-align: right;
  transform: translateY(-50%);
  padding: 0;
  font-size: 12px;
}
.post-social a {
  display: inline-block;
  margin-left: 8px;
  color: #f8b763;
  width: 25px;
  height: 25px;
  line-height: 23px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid;
}

/* правый контейнер */
.rightee {
  width: 33%;
  float: right;
}

/* блок для виджетов */

.widget-title {
  font-size: 18px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  border: 2px solid #f8b763;
  box-shadow: 3px 3px 0 0 #f8b763;
}
.widget-category-list li {
  border-bottom: 1px solid #ebebe3;
  padding: 10px 0;
  color: #c6c6c6;
  font-style: italic;
}
.widget-category-list li:last-child {
  border-bottom: none;
}
.widget-category-list li a {
  color: #626262;
  margin-right: 6px;
  font-style: normal;
}
.widget-category-list li a:before {
  content: "\f105";
  display: inline-block;
  font-family: "FontAwesome";
  margin-right: 10px;
  color: #c6c6c6;
}
.widget-leftee li {
  border-top: 1px solid #ebebe3;
  padding: 15px 0;
}
.widget-leftee li:nth-child(1) {
  border-top: none;
}
.post-image-small {
  width: 30%;
  float: left;
  margin-right: 15px;
}
.widget-post-title {
  float: left;
}
/* форма подписки */
#subscribe {
  position: relative;
  width: 100%;
  padding: 15px 0;
}
#subscribe input {
  width: 100%;
  display: block;
  float: left;
  border: 2px solid #ebebe3;
  padding: 0 0 0 10px;
  height: 40px;
  position: relative;
  outline: none;
  color: #9e9c9c;
  font-style: italic;
}
#subscribe button {
  padding: 0 15px;
  background: transparent;
  height: 40px;
  border: none;
  position: absolute;
  right: 0;
  color: #ef5a42;
  cursor: pointer;
  font-size: 18px;
}
#subscribe input:focus + button {
  background: #ef5a42;
  color: white;
}

.img-main {
  margin-top: 130px;
  height: auto;
  width: 100%;
}

h1 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 50px;
}

.leftee1 h1 {
  color: #f7f7f7;
}
.widget h1 {
  margin-top: 150px;
}

.first-button {
  margin-top: 80px;
  width: 400px;
  background-color: #5479bd00;
  color: #151615;
  /* padding: 8px 12px; */
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  font-size: 30px;
  border-radius: 5px;
  font-family: "Hind Siliguri", sans-serif;
  border: 2px solid #151615;
  transition-duration: 0.4s;
}
.first-button:hover {
  background-color: #4d74ba; /* Green */
  color: white;
}

.second-block {
  height: auto;
  width: 100%;
  background: #4d74ba;
}

#type {
  color: #f7f7f7;
  font-size: 56px;
}

#type {
  float: right;
}
#type li {
  display: inline-block;
  /* margin-right: 30px; */
}
#type a {
  color: #4d74ba;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  display: block;
  line-height: 50px;
  margin-top: 30px;
}
#type a:hover {
  color: #17418f;
}
#menu li:last-child {
  margin-right: 0;
}

.leftee1 {
  width: 64%;
  float: left;
  display: table-cell;
  line-height: 100px;
}

.rightee1 {
  width: 33%;
  float: right;
}

#menu a.active {
  color: #4d74ba;
}

h6 {
  text-transform: uppercase;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 50px;
  margin: 20px;
  cursor: pointer;
}
h5 {
  text-transform: uppercase;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 55px;
  margin: 20px;
}

hr {
  border: none; /* Убираем границу для браузера Firefox */
  color: red; /* Цвет линии для остальных браузеров */
  background-color: #2581dc; /* Цвет линии для браузера Firefox и Opera */
  height: 1px; /* Толщина линии */
}

.leftee2 {
  width: 100%;
}
.rightee2 {
  width: 100%;
}

.non-first-a {
  margin-top: 15px;
}

h6:hover {
  color: #4d74ba;
}

.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  background-color: white;
  color: #111;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  display: block;
  line-height: 50px;
  font-family: inherit;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 15px;
  margin-right: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 40px;
  /*     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
  /*    margin-left: -30px; */
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 5px;
  text-decoration: none;
  display: block;
  text-align: left;
}

@media screen and (max-width: 768px) {
  /* показываем кнопку для переключения верхней навигации */
  .nav-toggle {
    margin-top: 5px;
    display: block;
  }
  header {
    padding: 10px 0;
  }
  /* скрываем верхнее меню, отменяем обтекание, позиционируем его, сместив на высоту шапки сайта */
  #menu {
    max-height: 0;
    background: white;
    float: none;
    position: absolute;
    overflow: hidden;
    top: 63px;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 3;
  }
  /* делаем элементы списка блочными, чтобы они располагались друг под другом */
  #menu li {
    display: block;
    text-align: center;
    border-bottom: 1px solid #ebebe3;
    margin-right: 0;
  }
  #menu .dropdown {
    display: block;
    text-align: center;
    border-bottom: 1px solid #ebebe3;
    margin-right: 0;
  }
  /* отменяем обтекание левой и правой колонок, устанавливаем им ширину 100%*/
  .leftee,
  .rightee {
    width: 100%;
  }
  .widget h1 {
    margin-top: 30px;
    font-size: 30px;
  }
  .widget-post-title {
    font-size: 1.5em;
  }
  .block2container {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .leftee,
  .rightee {
    width: 100%;
  }
  .block2container {
    width: 100%;
  }

  .step {
    margin: 30px auto;
  }

  .dropdown {
    text-align: center;
    width: 100%;
  }
  .dropdown .dropbtn {
    width: 100%;
  }

  h1 {
    margin: 10px;
    font-size: 30px;
    letter-spacing: -2px;
  }
  h6 {
    margin: 10px;
    font-size: 45px;
  }
  .first-button {
    margin-top: 40px;
    width: 100%;
    font-size: 25px;
  }
  .img-main {
    margin-top: 30px;
  }
  /* отменяем обтекание для логотипа и выравниваем по центру*/
  .logo {
    float: left;
    margin: 0 auto 0px;
    /* display: table;*/
  }
  .logo span {
    margin: 0 2px;
  }
  /* позиционируем меню на увеличившуюся высоту шапки */
  #menu {
    top: 70px;
  }
  /* позиционируем форму поиска по левому краю */
  #searchform {
    float: left;
    margin-left: 0;
  }
  /* убираем верхнюю и нижнюю границы и выравниваем кнопку по центру */
  .post-footer {
    border-top: none;
    border-bottom: none;
    text-align: center;
  }
  /* отменяем позиционирование кнопок соцсетей */
  .post-social {
    position: static;
    text-align: center;
    transform: none;
    margin-top: 20px;
  }
  .widget-post-title {
    font-size: 1.2em;
  }
  /* отменяем обтекание для столбцов подвала страницы */
  .footer-col {
    float: right;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  .footer-col:last-child {
    text-align: center;
    margin-bottom: 0;
  }

  .container2 {
    text-align: left;
  }

  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  .second-button {
    width: fit-content;
    text-align: center;
    padding: 5px;
  }
}

